<ion-header no-border>
  <ion-toolbar color="light" padding-right padding-left>	
  		<ion-buttons>
			<!--  -->
			<button ion-button icon-only>
				<ion-icon name="ios-settings"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<!--  -->
			<button ion-button icon-only>
				<ion-icon name="ios-exit-outline"></ion-icon>
			</button>
		</ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar color="primary">
  
  </ion-toolbar> -->
</ion-header>

<ion-content padding-right padding-left>

	<ion-fab right bottom margin-right margin-bottom>
	    <button ion-fab color="primary">
	    	<ion-icon name="ios-flash"></ion-icon>
	    </button>
	  </ion-fab>

	  <section id="balance">
	  	<div class="bal-wrapper">
	  		<div class="bal {{low}}">
	  			{{balance}} MB
	  		</div>
	  		<div class="bal-text">
	  			Remaining Quota
	  		</div>
	  	</div>
	  </section>

	  <section id="menu-opts">
	  	<div class="menu-wrapper">
	  		<ion-grid>
				<ion-row>
					<ion-col col-4 class="menu-item" (click)="switchView(menu.view)" *ngFor="let menu of menus">
						<span class="menu-icon">
							<ion-icon name="{{menu.icon}}"></ion-icon>
						</span>
						<span class="menu-text">
							{{menu.name}}
						</span>
					</ion-col>
					
				</ion-row>
			</ion-grid>
	  	</div>
	  </section>

	<!-- <ion-grid>
		<ion-row>
			<ion-col col-5 class="menu-item" *ngFor="let menu of menus">
				<ion-icon name=""></ion-icon>
				<span class="menu-icon">
					<ion-icon name="{{menu.icon}}"></ion-icon>
				</span>
				<span class="menu-text">
					{{menu.name}}
				</span>
			</ion-col>
			
		</ion-row>
	</ion-grid> -->

	<!-- <h1>CSS Responsive Circles with Vertically-Centered Text</h1>
	
	<div class="circle">
		<div class="circle__inner">
			<div class="circle__wrapper">
				<div class="circle__content">Circle text</div>
			</div>
		</div>
	</div>
	
	<div class="circle">
		<div class="circle__inner">
			<div class="circle__wrapper">
				<div class="circle__content">A circle with a lot more text inside</div>
			</div>
		</div>
	</div> -->


</ion-content>
